<div class="bootstrap-wrapper">
   
    <div class="container">
        <mat-card class="mt20">
        <div class="row">

            <div class="col-md-6 offset-md-3">
                <mat-card class="card">
                <h1 class="text-center">Account Details</h1>

            
         
            <form>
                
                
                <!-- <label style="color: blue;" > Account Number </label><br><br> -->
                <!-- Name : <input type="text" placeholder=" name "><br><br>
                Id : <input type="number" placeholder=" Id"><br><br>
                AccountNo : <input type="number" placeholder="  account No "><br><br>
                Account Type : <input type="number" placeholder=" account type "><br><br>
                <!-- <label style="color: blue;" for="email"> Amount </label><br><br> -->
                
               <!-- Amount : <input  type="text" placeholder="amount"><br><br> --> 
                <!-- <button>Send</button> -->
                <h1>Welcome  {{user.customerName}} !!</h1>
                <p>Account Holder Name:   {{user.customerName}} </p>  <br>
                <p>AccountNo :  {{user.customerId}}</p>  <br>
                <p>Account Type: Savings</p> <br>
                <p>Email : {{user.email}}</p>
                

                
            </form>

        </mat-card>

        </div>

    </div>

</mat-card>
</div>
</div>