<div class="bootstrap-wrapper">
   
    <div class="container">
        <mat-card class="mt20">
        <div class="row">

            <div class="col-md-6 offset-md-3">
                <mat-card class="card">
                <h1 class="text-center">Payee Details</h1>
         
            
                <form (ngSubmit)="formSubmit()" >
                    <!--Name-->
<mat-form-field class="full-width" appearance="fill">
    <mat-label>Payee Name</mat-label>
    <input
    [(ngModel)]="user.PayeeName" name="PayeeName"
    matInput placeholder="Enter Name">
  </mat-form-field>

                      <!--Email-->
<mat-form-field class="full-width" appearance="fill">
    <mat-label>Payee Id</mat-label>
    <input
    [(ngModel)]="user.PayeeId" name="PayeeId"
    matInput placeholder="Enter Email Id : Example@sample.in">
  </mat-form-field>

                      <!--password-->
<mat-form-field class="full-width" appearance="fill">
    <mat-label>Amount</mat-label>
    <input [(ngModel)]="user.Amount" name="Amount"
    matInput placeholder="Enter password">
  </mat-form-field>

                      <!--aadharNo-->
<mat-form-field class="full-width" appearance="fill">
    <mat-label>Payee AccountNo</mat-label>
    <input
    [(ngModel)]="user.PayeeAccountNo" name="PayeeAccountNo"
    matInput placeholder="Enter Mobile Number">
  </mat-form-field>
                
  <div class="container text-center">

    <button type="submit"  mat-raised-button color="primary">Add</button>
    <button style="margin-left: 20px;" mat-raised-button color="accent">Cancle</button>



  </div>
                    

                
            </form>

        </mat-card>

        </div>

    </div>