<div class="bootstrap-wrapper">
   
    <div class="container">
        <mat-card class="mt20">
        <div class="row">

            <div class="col-md-6 offset-md-3">
                <mat-card class="card">
                <h1 class="text-center">Transactions History</h1>

        </mat-card>
        <div>
          <table>
            <tr>
              <th>Account Number</th>
              <th>Amount</th>
              <th>On date</th>
              <th>To Account</th>
              <th>To Name</th>
              <th>Transaction Id</th>
              <th>Transaction Type</th>
            </tr>
              <tr *ngFor = "let x of transactions">
                <td>{{x.accountNumber}}</td>
                <td>{{x.amount}}</td>
                <td>{{x.onDate}}</td>
                <td>{{x.toAccount}}</td>
                <td>{{x.toName}}</td>
                <td>{{x.transactionId}}</td>
                <td>{{x.transactionType}}</td>
              </tr>
          </table>
          
          <!-- <div *ngFor = "let x of transactions">
            {{x.accountNumber}}
            {{x.amount}}
            {{x.onDate}}
            {{x.remarks}}
            {{x.toAccount}}
            {{x.toName}}
            {{x.transactionId}}
            {{x.transactionType}}
          </div> -->

        </div>

        </div>

    </div>