<div class="bootstrap-wrapper">

  <div class="container">
    <mat-card class="mt20">
      <div class="row">

          <div class="col-md-6 offset-md-3">
            <mat-card class="card">
              <h1 class="text-center">Fund Transfer</h1>

              <!-- {{user | json}} -->

              <form (ngSubmit)="myTransfer()" >
                                      <!--Account No-->
                  <form class="full-width" appearance="fill">
                      <label>Account No</label>
                      <input
                      [(ngModel)]="user.accountNo" name="accountNo"
                      matInput placeholder="Enter Account">
                    </form>

                                        <!--Amount -->
                  <form class="full-width" appearance="fill">
                      <label>Amount</label>
                      <input
                      [(ngModel)]="user.amount" name="amount"
                      matInput placeholder="Enter amount">
                    </form>
                    <div class="container text-center">
                      <button type="submit"  mat-raised-button color="primary">Submit</button>
                      <button style="margin-left: 20px;" mat-raised-button color="accent">Cancle</button>
                    </div>




              </form>
            </mat-card>


          </div>

      </div>
    </mat-card>

  </div>

</div>
