.full-width{
    width: 100%;
}

.card{
    background-color: rgb(245, 239, 239);
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }