<mat-card>
<div class="bootstrap-wrapper">

      
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Welcome to Online Banking</h1>
            </div>
            <!-- <div>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle >Services</mat-button-toggle>
                    <mat-button-toggle >Mobile Banking</mat-button-toggle>
                    <mat-button-toggle >FAQ</mat-button-toggle>
                    <mat-button-toggle >Corporate Website</mat-button-toggle>
                    <mat-button-toggle >Videos</mat-button-toggle>
                    <mat-button-toggle >mCash</mat-button-toggle>
                    <mat-button-toggle >Apply For New Account</mat-button-toggle>
                    <mat-button-toggle >Bill Pay</mat-button-toggle>
                    <mat-button-toggle >Lones</mat-button-toggle>
                    <mat-button-toggle >Mutual Fand</mat-button-toggle>
                  </mat-button-toggle-group>
            </div> -->

            <!-- <div class="col-md-6">
                
                <mat-card class="example-card">
                    <div class="text-center" >
                       <div ><mat-icon>corporate_fare</mat-icon>
                       <mat-card-title>Corporate Banking</mat-card-title>
                       </div>
                       <button
                       [routerLink]="'/login'"
                       mat-raised-button mat-button color="primary">Login</button>
                     </div>
                   </mat-card>
                

            </div> -->
            <div class="col-md-6">
                
                <mat-card class="example-card">
                   <div class="text-center" >
                      <div ><mat-icon>account_circle</mat-icon>
                      <mat-card-title>Personal Banking</mat-card-title>
                      </div>
                      <button
                      [routerLink]="'/login'"
                      mat-raised-button mat-button color="primary">Login</button>
                    </div>
                  </mat-card>
            </div>


            




        </div>
 


</div>
</mat-card>
        
            