<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>

        <button mat-list-item routerLink=''><mat-icon mat-icon-list>home</mat-icon>Home</button>
        <button mat-list-item routerLink='accountdetails'><mat-icon mat-icon-list>account_circle</mat-icon>Account Details</button>
        <button mat-list-item routerLink='accountsummary'><mat-icon mat-icon-list>info</mat-icon>Payee</button>
        <button mat-list-item routerLink='fundtransfer'><mat-icon mat-icon-list>payment</mat-icon>Transaction</button>
        <button mat-list-item routerLink='accountstatement'><mat-icon mat-icon-list>auto_stories</mat-icon>Contact Us</button>

    </mat-action-list>
</mat-card>
