<div class="bootstrap-wrapper">

    <div class="container">
      <mat-card class="mt20">
        <div class="row">

            <div class="col-md-6 offset-md-3">
              <mat-card class="card">
                <h1 class="text-center">Registration Form</h1>

                <!-- {{user | json}} -->

                <form (ngSubmit)="formSubmit()" class="text-center">
                                        <!-- First Name -->
                    <form class="full-width" appearance="fill">
                        <label>First Name</label>
                        <input
                          [(ngModel)]="user.firstName" name = "firstName"
                        matInput placeholder="Enter First Name">
                      </form>
                    <!-- Middle Name -->
                    <form class="full-width" appearance="fill">
                      <label>Middle Name</label>
                      <input
                        [(ngModel)]="user.middleName" name = "middleName"
                      matInput placeholder="Enter Middle Name">
                    </form>
                                       <!-- Last Name -->
                      <form class="full-width" appearance="fill">
                        <label>Last Name</label>
                        <input
                          [(ngModel)]="user.lastName" name = "lastName"
                        matInput placeholder="Enter Last Name">
                      </form>
                                <!--Mobile No-->
                      <form class="full-width" appearance="fill">
                        <label>Mobile Number</label>
                        <input
                        [(ngModel)]="user.mobileNumber" name = "mobileNumber"
                        matInput placeholder="Enter Mobile Number">
                      </form>
                                          <!--Email-->
                    <form class="full-width" appearance="fill">
                        <label>Email Id</label>
                        <input
                        [(ngModel)]="user. email" name = "email"
                        matInput placeholder="Enter Email Id : Example@sample.in">
                      </form>

                                           <!--aadharNo-->
                    <form class="full-width" appearance="fill">
                      <label>Aadhar Number</label>
                      <input
                      [(ngModel)]="user.aadharNumber" name = "aadharNumber"
                      matInput placeholder="Enter Aadhar Number">
                    </form>

                      <!--dateOfBirth-->
                      <form class="full-width" appearance="fill">
                      <label>Date Of Birth</label>
                      <input
                      [(ngModel)]="user.dob" name = "dob"
                      matInput placeholder="Enter Date Of Birth">
                    </form>

                      <!--Address-->
                      <form class="full-width" appearance="fill">
                      <label>Address</label>
                      <input
                      [(ngModel)]="user.address" name = "adress"
                      matInput placeholder="Enter Address">
                    </form>

                    <!-- Customer Name -->
                    <form class="full-width" appearance="fill">
                      <label>User Name</label>
                      <input
                        [(ngModel)]="user.userName" name = "userName"
                      matInput placeholder="Enter User Name">
                    </form>

                                          <!--password-->
                    <form class="full-width" appearance="fill">
                        <label>Password</label>
                        <input type="password"
                        [(ngModel)]="user.password" name = "password"
                        matInput placeholder="Enter password">
                      </form>

                     
                      
                      
                                          <!--PanNo-->
                    <!-- <mat-form-field class="full-width" appearance="fill">
                        <mat-label>PAN Number</mat-label>
                        <input 
                        [(ngModel)]="user.pan" name = "pan"
                        matInput placeholder="Enter PAN Number">
                      </mat-form-field> -->

                                          <!--Gender-->
                    <!-- <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Gender</mat-label>
                        <input
                        [(ngModel)]="user.gender" name = "gender"
                        matInput placeholder="Male/Female">                        
                      </mat-form-field> -->

                      <!-- <form class="full-width" appearance="fill">
                        <label>Date Of Birth</label>
                        <input 
                        [(ngModel)]="user.dateOfBirth" name = "dateOfBirth"
                        matInput placeholder="DD/MM/YYYY">                        
                      </form> -->

                    

                      <div class="container text-center">

                        <button type="submit"  mat-raised-button color="primary">Register</button>
                        <button style="margin-left: 20px;" mat-raised-button color="accent" (click)="cancel()">Cancle</button>



                      </div>




                </form>
              </mat-card>


            </div>

        </div>
      </mat-card>

    </div>

</div>
